<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Twitters</title>
    <link rel="stylesheet" href="style.css">    
    <link rel="stylesheet" href="normalize.css">
</head>
<body>
  <h1>twitters</h1>
  

</body>
</html>